DJANGO_ENV=dev
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-change-me-in-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,django

POSTGRES_DB=cinema_db
POSTGRES_USER=cinema_user
POSTGRES_PASSWORD=cinema_password
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
S3_INTERNAL_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=movies

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

FASTAPI_SERVICE_URL=http://fastapi:8001
DJANGO_API_URL=http://django:8000
INTERNAL_SERVICE_TOKEN=change-me-internal-token-please-use-strong-password

USE_S3=Falseom