DJANGO_ENV=dev

DJANGO_SECRET_KEY=django-insecure-n2!h_$mqsuyp)yf&tqk3bja3$s^shvpnsce6@lef5g@kk!1nmh

POSTGRES_DB=cinema_db
POSTGRES_USER=cinema_user
POSTGRES_PASSWORD=cinema_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
INTERNAL_SERVICE_TOKEN=change-me-internal-token-please-use-strong-password
FASTAPI_INTERNAL_URL=http://localhost:8001
FLASK_INTERNAL_URL=http://localhost:5001
S3_INTERNAL_ENDPOINT=http://localhost:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
